<ul>
{% set path = '' %}
{% set parts = '' %}
{% for location in items %}
    {% set path = path( location ) %}
    {% set parts = path|split( '/' )|reverse %}
    <li class="{{parts[0]}}{{ location.id == selected ? ' selected' : '' }}"><a href="{{ path( location ) }}">{{ location.id == rootLocationId ? 'Accueil' : location.contentInfo.name }}</a></li>
{% endfor %}
    <li class="inline-search">
        <form action="{{ path( 'ez_legacy', {'module_uri': 'planet/search'} ) }}" method="get">
            <input type="search" name="SearchText" value="" placeholder="Rechercher" />
            <input type="submit" class="yui3-button" value="Go!" />
        </form>
    </li>
</ul>
