{% extends noLayout ? viewbaseLayout : "PlanetBundle::pagelayout.html.twig" %}

{% set offset = app.request.attributes.get( 'viewParameters' ).offset ? app.request.attributes.get( 'viewParameters' ).offset : 0 %}
{% set page = (offset / 10)|number_format() + 1 %}
{% set suffix = page != 1 ? " (Page " ~ page ~ ")" : "" %}

{% block title_page %}
{% spaceless %}
{{ location.contentInfo.name }}{{ suffix }} - {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block top_menu %}
    {% set selected = location.parentLocationId %}
    {{ parent() }}
{% endblock %}

{% block content %}
<section class="site">
<h1 class="title-page"><a href="{{ content.getField( 'url' ).value.link }}">Articles de &laquo;&nbsp;{{ location.contentInfo.name }}&nbsp;&raquo;</a> &mdash; {{ ez_render_field( content, "rss" ) }}</h1>
<article>
    <dl>
    {% render "planet:postList" with
        {'rootLocationId': location.id, 'limit': 10, 'offset': offset, 'viewType': 'summary'},
        {'standalone': true}
    %}
    </dl>
</article>

</section>
{% endblock %}
